﻿@Styles.Render("~/Content/fontello.css")

<footer>
    <section>
        <h3>ACERCA DE PIONEER</h3>
        <ul>
            <li><a href="#">¿Quiénes somos?</a></li>
            <li><a href="#">Vendé con Nosotros</a></li>
            <li><a href="#">Ventas Corporativas</a></li>
            <li><a href="#">Trabajá con Nosotros</a></li>
        </ul>
    </section>
    <hr>
    <section>
        <h3>SERVICIO AL CLIENTE</h3>
        <ul>
            <li><a href="#">Ayuda</a></li>
            <li><a href="#">Políticas de Privacidad</a></li>
            <li><a href="#">Políticas de Envío</a></li>
            <li><a href="#">Políticas de Devoluciones</a></li>
        </ul>
    </section>
    <hr>
    <section>
        <h3>PIONEER LATINOAMÉRICA</h3>
        <ul>
            <li><a href="#">Argentina</a></li>
            <li><a href="#">Colombia</a></li>
            <li><a href="#">México</a></li>
            <li><a href="#">Perú</a></li>
        </ul>
    </section>
    <hr>
    <section>
        <h3>SEGUINOS</h3>
        <ul>
            <li><a href="#" class="icon-facebook"></a></li>
            <li><a href="#" class="icon-twitter"></a></li>
            <li><a href="#" class="icon-instagram"></a></li>
        </ul>
    </section>
</footer>