﻿<header>
    <div class="logo">
        <img src="~/Images/logo.png" alt="Imagen Logo">
    </div>
    <div class="botones">
        <button class="button">Ingresar</button>
        <button class="button">Carrito de Compras</button>
    </div>
</header>

<section class="menu">
    <button class="button">@Html.ActionLink("Inicio", "Inicio", "Inicio")</button>
    <button class="button">@Html.ActionLink("Tiendas", "Tiendas", "Tiendas")</button>
    <button class="button">@Html.ActionLink("Contacto", "Contacto", "Contacto")</button>
</section>