﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet" />
    @*@Styles.Render("~/Content/styles.css")*@
    @Styles.Render("~/Content/styles.css")
    @Styles.Render("~/slick/slick.css")
    @Styles.Render("~/slick/slick-theme.css")
    @Scripts.Render("~/Scripts/jquery-3.5.1.min.js")
    @Scripts.Render("~/slick/slick.js")
    @Scripts.Render("~/Scripts/inicio.js")
</head>
<body>

    @* Embebemos la vista parcial Header *@
    @Html.Partial("_Header")

    <div>
        @RenderBody()
    </div>
    <hr />

    @* Embebemos la vista parcial Footer *@
    @Html.Partial("_Footer")
    
    @RenderSection("scripts", required: false)
</body>
</html>
