﻿@{
    ViewBag.Title = "Tiendas";
}

<main>
    <div class="contenedor">
        <div class="primera-fila">
            <div class="col1">
                <img src="~/Images/tienda1.jpg" alt="FOTO TIENDA">
                <p>7736 N. Kendall Dr. Miami Florida</p>
            </div>
            <div class="col2">
                <img src="~/Images/tienda2.jpg" alt="FOTO TIENDA">
                <p>Washington Ave, Miami Florida</p>
            </div>
            <div class="col3">
                <img src="~/Images/tienda3.jpg" alt="FOTO TIENDA">
                <p>13630 W. DIXIE HWY, Miami Florida</p>
            </div>
        </div>

        <div class="segunda-fila">
            <div class="col4">
                <img src="~/Images/tienda4.jpg" alt="FOTO TIENDA">
                <p>Nw 93 Rd Ct, Miami Florida</p>
            </div>
            <div class="col5">
                <img src="~/Images/tienda5.jpg" alt="FOTO TIENDA">
                <p>11421 NW 12th Street, Miami Florida</p>
            </div>
            <div class="col6">
                <img src="~/Images/tienda6.jpg" alt="FOTO TIENDA">
                <p>9924 Biggs Ave, Canada</p>
            </div>
        </div>
    </div>
</main>