﻿@{
    ViewBag.Title = "Contacto";
} 

@Scripts.Render("~/Scripts/jquery-3.5.1.min.js")
<script defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwIQOlDG39kX5xZOA4zkusk8jGxAYpWc8&callback=initMap">
</script>
@Scripts.Render("~/Scripts/mapa.js")

<main>
    <div class="contenedor2">
        <section class="formulario">
            <p>Ponete en contacto con nosotros</p>
            <form target="" method="post" name="formDatosPersonales" id="form">
                <ul>
                    <li>
                        <label for="nombre">Nombre</label>
                        <input type="text" name="nombre" id="nombre" class="form-control" />
                    </li>
                    <li>
                        <label for="apellidos">Apellido</label>
                        <input type="text" name="apellido" id="apellido" class="form-control" />
                    </li>
                    <li>
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" class="form-control" />
                    </li>
                    <li>
                        <label for="asunto">Asunto</label>
                        <input type="text" name="asunto" id="asunto" class="form-control" />
                    </li>
                    <li>
                        <label for="mensaje">Mensaje</label>
                        <textarea name="mensaje" for="mensaje" class="form-control" id="mensaje"></textarea>
                    </li>
                </ul>
                <input type="button" name="enviar" value="Enviar" onclick="crear()" />
            </form>
        </section>
        <section class="info">
            <br>
            <p>Horarios de Atención: Lunes a Sabados (10:00-21:00)</p>
            <p>Correo: pr.eu@pioneerdj.com</p>
            <p>Dirección: 2050 W 190th St Suite #100, Torrance, CA 90504, Estados Unidos</p>

            <div class="contenedor-mapa">
                <div id="map">

                </div>
            </div>
        </section>
    </div>
</main>

@*@if (ViewBag.Correcto != null && ViewBag.Correcto != false)
{
    <script>
        alert("@ViewBag.Message");
    </script>
}*@
