﻿@model TP2_Obligatorio.Models.ProductosModel

@{
    ViewBag.Title = "Inicio";
}

<section class="sliderMio demo">
    @foreach (var productos in Model.Productos)
    {
        if (productos.Es_Oferta)
        {
        <div class="foto1">
            <img src="~/@productos.Url_Imagen" alt="" title="@productos.Nombre">
        </div>
        }
    }
</section>

<main>
    <div class="fila1">
        <div class="col-categorias">
            <h2>Productos</h2>
            <ul>
                @foreach (var categorias in Model.Categorias)
                {
                    <li><a href="#">@categorias.Nombre</a></li>

                    foreach (var subcategoria in Model.Subcategorias)
                    {
                        <ul id="sub">
                            @if (categorias.Id == subcategoria.Id_Categoria)
                            {
                                <li>
                                    <a href="#">@subcategoria.Nombre</a>
                                </li>
                            }
                        </ul>
                    }
                }
            </ul>
        </div>

        <div class="fila-productos">
            <h2>Productos Destacados</h2>
            <div class="fila-destacados">
                @foreach (var productos in Model.Productos)
                {
                    if (productos.Es_Destacado)
                    {
                        <div class="col-prod1" id="@productos.Id" data-imagen="@Url.Content("~/"+productos.Url_Imagen)" data-precio="US$: @productos.Precio"
                             data-descripcion="@productos.Nombre">
                            <img src="~/@productos.Url_Imagen" alt="All in one DJ system" id="img-prod-dest1">
                            <ul>
                                <li>@productos.Nombre</li>
                                <li>US$: @productos.Precio</li>
                                <li>
                                    <a href="#" onclick="abrirpopup(@productos.Id)">Ver</a>
                                </li>
                                <li><button>Comprar</button></li>
                            </ul>

                            <div id="padre">
                                <div class="caja-popup" id="contenedor-popup">
                                    <p id="descripcion"></p>
                                    <p id="precio"></p>
                                    <img src="" alt="foto" id="imagen">
                                    <button class="cerrar-popup" onclick=cerrarPopup()>X</button>
                                    <button class="comprar">Comprar</button>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>

            <h2>Ofertas</h2>
            <div class="fila-ofertas">
                @foreach (var productos in Model.Productos)
                {
                    if (productos.Es_Oferta)
                    {
                        <div class="col-oferta1" id="@productos.Id" data-imagen="@Url.Content("~/"+productos.Url_Imagen)" data-precio="US$: @productos.Precio"
                             data-descripcion="@productos.Nombre">
                            <img src="~/@productos.Url_Imagen" alt="DJ sampler" id="img-prod-ofertas1">
                            <ul>
                                <li>@productos.Nombre</li>
                                <li>US$: @productos.Precio</li>
                                <li>
                                    <a href="#" onclick="abrirpopup(@productos.Id)">Ver</a>
                                </li>
                                <li><button>Comprar</button></li>
                            </ul>

                            <div id="padre">
                                <div class="caja-popup" id="contenedor-popup">
                                    <p id="descripcion"></p>
                                    <p id="precio"></p>
                                    <img src="" alt="foto" id="imagen">
                                    <button class="cerrar-popup" onclick=cerrarPopup()>X</button>
                                    <button class="comprar">Comprar</button>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</main>